body {
    background-color: #1C2E3A;
    color: white;
    font-family: "Times New Roman", cursive;
    font-size: 16pt;
    text-align: justify;
}

header {
    text-align: center;
}

li {
    margin-top: 30px;
}