body {
    background-color: #1C2E3A;
    color: white;
    font-family: "Times New Roman", cursive;
    font-size: 16pt;
    text-align: justify;
}

header {
    text-align: center;
}

li {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    color: 	#A9A9A9;
}

#goBack {
    border: none;
    background-color: transparent;
    font-size: 30pt;
    color: white;
    position: absolute;
    margin-top: -65px;
}

#goBack:hover {
    color: #A9A9A9;
}